# Ignore all dotfiles and hidden directories
.*
!.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/workflows/*.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover
cover/

# Package managers
*.lock
__pypackages__/
